<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="nav-top">
            <div class="logo-search-bar">
                <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo de la empresa"></div>
                <div class="search-bar">
                    <form action="#">
                        <input type="text" placeholder="Buscar productos, marcas y más" name="search">
                        <button>
                            <i class="fa fa-search" style="font-size: 14px;"></i>
                        </button>
                </div>
            </div>
            <p class="price-i"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-bottom">
            <ul>
                <li type="none"><a href="#">Ofertas</a></li>
                <li type="none"><a href="#">Tiendas Oficiales</a></li>
                <li type="none"><a href="#">Vender</a></li>
                <li type="none"><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li type="none"><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li type="none"><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li type="none"><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div></br>
    </header>
    <main>
        <img class="ofert" src="/images/img-home-banner.jpg">
        <div class="control-login">
            <form action="/login" method="POST">
                <div class="form-control">
                    <label>Usuario:</label>
                    <input type="text" name="user" class="control"><br>
                </div>
                <div class="form-control">
                    <label>Contraseña:</label>
                    <input type="password" name="password" class="control"><br>
                </div>
                <div class="button-login">
                    <button type="submit" class="button-l"><a href="/" type="none">Ingresar</a></button>
                </div>
        </div>
        </form>
    </main>
    </br>
    <footer>
        <div class="footer">
            <section>
                <div class="icon-footer"><i class="fas fa-credit-card"></i><br></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section></br>
            <section>
                <div class="icon-footer"><i class="fas fa-gift"></i><br></div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    products. Es un beneficio de Mercado Puntos.</p>
            </section></br>
            <section>
                <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section></br>
        </div>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>